<a href="https://colab.research.google.com/github/Arvin-007Elite/ML-Projects/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df = pd.read_csv('/content/bios.csv')
df

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
98831,99627,Dan Westover,1974-03-10,NaN,NaN,NaN,United States,181.0,75.0,NaN
98832,99628,Andrew Erickson,1976-05-05,Minnetonka,Minnesota,USA,United States,180.0,74.0,NaN
98833,99629,Rob Rosser,1969-04-11,Plattsburgh,New York,USA,United States,178.0,75.0,NaN
98834,99630,V'iacheslav Derkach,1976-06-23,Pryluky,Chernihiv,UKR,Ukraine,175.0,69.0,NaN
98835,99631,Ruslan Lys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(98836, 10)

In [ ]:
df.drop_duplicates()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
98831,99627,Dan Westover,1974-03-10,NaN,NaN,NaN,United States,181.0,75.0,NaN
98832,99628,Andrew Erickson,1976-05-05,Minnetonka,Minnesota,USA,United States,180.0,74.0,NaN
98833,99629,Rob Rosser,1969-04-11,Plattsburgh,New York,USA,United States,178.0,75.0,NaN
98834,99630,V'iacheslav Derkach,1976-06-23,Pryluky,Chernihiv,UKR,Ukraine,175.0,69.0,NaN
98835,99631,Ruslan Lys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape
# not saved

(98836, 10)

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.shape

(98836, 10)

In [ ]:
df

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
98831,99627,Dan Westover,1974-03-10,NaN,NaN,NaN,United States,181.0,75.0,NaN
98832,99628,Andrew Erickson,1976-05-05,Minnetonka,Minnesota,USA,United States,180.0,74.0,NaN
98833,99629,Rob Rosser,1969-04-11,Plattsburgh,New York,USA,United States,178.0,75.0,NaN
98834,99630,V'iacheslav Derkach,1976-06-23,Pryluky,Chernihiv,UKR,Ukraine,175.0,69.0,NaN
98835,99631,Ruslan Lys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# No duplicates r there
# if we have unwanted cols, we can drop it
# then if a col has words mixed with ... , \ , and any otehr unwanted charters , we have to strip it
# df['last_name'].str.lstrip("...")
# enter parameter acording what u have to strip ,
# lstrip is we particluarly tell its in left side , normal strip removes extra spaceson both sides
# now it will not save to df , becaue we only change a particular col ,
# so equal it to like this !
#  df['last_name'] = df['last_name'].str.lstrip("...")
# do sameway for whichever side , watever is there to strip
# this can be done i single line for many removals using strip giving all types in same bracket
#  df['last_name'] = df['last_name'].str.strip("./-123")

In [ ]:
# sometimes phonenumbers can be in diff format , let it be ww will format it as pure numbers
# df['phone_number'] = df['phone_number'].str.replace('[^a-zA-Z0-9]','')
# retuns a to z , and 0 to 9 all numbers , other than ths it will not print
# now it will be in pure numbers , nxtwe have to make it our country format

# before doing tht see , see if u hve NaN values int hat column , otherwise cant convert
# nan will be int and float type , convert evrything to string , because slicers r wrote in str format
# df['phone_number'] = df['phone_number'].apply(lambda x: str(x))

# then run this
# df['phone_number'] = df['phone_number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
#

In [ ]:
# removing nulls
# df['phone_number'].str.replace('NaN','')

In [ ]:
# sometimes in ddress cols , more length address will there , we can separet it as region , state , district , pincode
# using split()
# df[["street Address" , "State" , "code"]] = df["Address"].str.split(',',2 , expand=True)
# if 2 commas r there separte it and make it as new col